# Environment variables
.env
.env.*
!.env.example
cookies.txt
kaggle.json
data/
dataset/
logs/
*.log
*.vtt
rclone.exe

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Data & Cache
data/audio_podcasts/*
data/cache/*
!data/audio_podcasts/.gitkeep
!data/cache/.gitkeep

# Credentials
credentials/*.json
credentials/*.pickle

# IDE
.vscode/
.idea/

notebooks/kaggle_cookies_dataset/youtube_cookies.txt
data/youtube_cookies.txt
