# Secret Environment Variables (Do Not Commit)
.env

# Python Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Local Data Storage & Audio
data/audio_podcasts/
data_storage/
*.mp3
*.m4a

# Logs & IDE
.idea/
.vscode/
*.log
